
.col-sm-6 h3{
	display: inline-block;
	padding: 5px;
}
.pd-10{
	margin-top: 20px;
}
.foto{
	display: inline-block;
	padding-left: 30px;
	width: 20%;
} 
#boton{
	margin-top: 20px;
}
.sedes{
	margin-left: 20px;
	width: 300px;
	color: black;
	border: none;
	padding: 5px;
}
#resultado{
	font-size: 20px;
}